.navigation-navigation-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.table-pagination-container {
  justify-content: flex-end;
}

.page-item {
  cursor: pointer;
}

.active-page-item {
  color: #007bff;
  cursor: pointer;
}

.navigation-navigation-wrapper .input-group {
  margin-left: 20px;
  width: 93.56px;
}

.navigation-navigation-wrapper .form-control {
  padding: 0.375rem;
  text-align: center;
  outline:none
}

.navigation-navigation-wrapper .input-group-append {
  cursor: pointer;
}