/* h5-mescroll-page-header-item-container */
.h5-mescroll-page-list-header-container {
  display: flex;
  width: 100%;
}

.h5-mescroll-page-list-header-account-container {
  flex: 1;
  width: 33%;
  max-width: 33%;
  text-align: left;
}

.h5-mescroll-page-list-header-status-container {
  flex: 1;
  width: 33%;
  max-width: 33%;
  text-align: right;
}

.h5-mescroll-page-list-header-number-container {
  flex: 1;
  width: 33%;
  max-width: 33%;
  text-align: right;
}


/* h5-mescroll-page-list-item-container */
.h5-mescroll-page-list-item-container {
  display: flex;
  width: 100%;
}

.h5-mescroll-page-list-item-account-container {
  flex: 1;
  width: 33%;
  max-width: 33%;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
}

.h5-mescroll-page-list-item-status-container {
  flex: 1;
  width: 33%;
  max-width: 33%;
  text-align: right;
  overflow: hidden;
}

.h5-mescroll-page-list-item-number-container {
  flex: 1;
  width: 33%;
  max-width: 33%;
  text-align: right;
  overflow: hidden;
}